<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" xml:lang="en"
      lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <title wicket:id="page-title">[PREVIEW] PhetPage</title>
    <wicket:enclosure child="metaDescription">
        <meta name="description" content="" wicket:id="metaDescription"/>
    </wicket:enclosure>
    <wicket:remove>
        <link rel="stylesheet" type="text/css" href="../../../../../../../root/css/preview.css"/>
    </wicket:remove>
    <link rel="stylesheet" type="text/css" href="/css/phet-v3-min.css"/>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>-->
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="/css/ie6fix-v3.css"/>
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/css/ie7fix-v2.css"/>
    <![endif]-->
    <!--[if lt IE 7]>
    <script defer type="text/javascript" src="pngfix.js"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/css/ie-v1.css"/>
    <![endif]-->
    <span wicket:id="debug-page-class"></span>
    <span wicket:id="debug-page-host"></span>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push( ['_setAccount', 'UA-5033201-1'] );
        _gaq.push( ['_setDomainName', 'phet.colorado.edu'] );
        _gaq.push( ['_trackPageview'] );
        _gaq.push( ['b._setAccount', 'UA-5033010-1'] );
        _gaq.push( ['b._setDomainName', 'phet.colorado.edu'] );
        _gaq.push( ['b._trackPageview'] );

        (function() {
            var ga = document.createElement( 'script' );
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName( 'script' )[0];
            s.parentNode.insertBefore( ga, s );
        })();

        (function() {
            var phetJS = document.createElement( 'script' );
            phetJS.type = 'text/javascript';
            phetJS.async = true;
            phetJS.src = '/js/phet-v3-min.js';
            var s = document.getElementsByTagName( 'script' )[0];
            s.parentNode.insertBefore( phetJS, s );
        })();
    </script>
</head>
<body wicket:message="dir:language.dir,class:language.dir,id:style.body.id">
<div id="skipNav">
    <a href="#main-content" accesskey="0">
        <wicket:message key="page.SkipToMainContent">Skip to Main Content</wicket:message>
    </a>
</div>


<div wicket:id="translation-preview-notification"
     style="color: red; text-align: center; border-bottom: 3px solid black;">This is a preview for translation #79 of
    zh_CN
</div>

<div id="page-header" wicket:message="class:language.dir">
    <div id="page-header-container">
        <div id="page-header-logo">
            <a href="PhetPage.html#" wicket:id="page-header-home-link">
                <img wicket:id="page-header-logo-image" src="../../../../../../../root/images/phet-logo.gif"
                     alt="PhET Logo" title="Go to the PhET home page" class="header-logo-image"
                     width="242" height="127"/>
            </a>
        </div>
        <div id="page-header-title">
            <img wicket:id="page-header-title-image" src="../../../../../../../root/images/logo-title.jpg"
                 alt="Physics Education Technology - University of Colorado, Boulder"
                 title="Physics Education Technology - University of Colorado, Boulder"
                 width="400" height="83"/>
        </div>
        <div id="page-header-search" wicket:id="search-panel">
            <form action="/en/search" method="get">
                <div>
                    <span>Search</span>
                    <input title="Enter the text to search for" name="q" class="always-enabled" type="text" size="15"/>
                    <input title="Click here to search the PhET website" value="Go" class="always-enabled"
                           type="submit"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="log-in-out" wicket:id="log-in-out-panel">
</div>
<div id="page-content" wicket:message="class:language.dir">
    <wicket:child>
        Child element goes here
    </wicket:child>
</div>
<!--<script type="text/javascript">-->
    <!--var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");-->
    <!--document.write( unescape( "%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E" ) );-->
<!--</script>-->
<!--<script type="text/javascript" src="/js/autoTracking_phet.js" wicket:id="autotracking"></script>-->
<!--<script type="text/javascript">-->
    <!--var benchmarkTracker = _gat._getTracker( "UA-5033201-1" );-->
    <!--benchmarkTracker._setDomainName( 'phet.colorado.edu' );-->
    <!--benchmarkTracker._initData();-->
    <!--benchmarkTracker._trackPageview();-->

    <!--var overallTracker = _gat._getTracker( "UA-5033010-1" );-->
    <!--overallTracker._setDomainName( 'phet.colorado.edu' );-->
    <!--overallTracker._initData();-->
    <!--overallTracker._trackPageview();-->
<!--</script>-->
</body>
</html>

