/* Copyright 2002-2011, University of Colorado */

/* CSS for the "Our Team" portion of the About section */

.team-member {
    position: relative;
    margin-bottom: 10px;
}

.team-headshot {
    width: 110px;
    height: 140px;
    border: 1px solid #000;
    position: absolute;
}

.team-content {
    min-height: 140px;
    margin-left: 130px;
    position: relative;
    top: 10px;
}

.team-headshot img {

}

.team-name {

}

.team-title {

}