.simulation-list-item {
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    width: 130px;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    position: relative;
}

.simulation-list-item .simulation-link {
    position: relative;
}

.sim-badge-html {
    display: block;
    position: absolute;
    background-image: url(../images/HTML5_Logo_32_drop.png);
    width: 32px;
    height: 38px;
    left: 111px;
    top: -23px;
}

.sim-badge-java {
    display: block;
    position: absolute;
    background-image: url(../images/icons/java-icon-32x34.png);
    width: 32px;
    height: 34px;
    left: 112px;
    top: -22px;
}

.sim-badge-flash {
    display: block;
    position: absolute;
    background-image: url(../images/icons/flash-icon-30x32.png);
    width: 30px;
    height: 32px;
    left: 115px;
    top: -20px;
}

.simulation-list-thumbnail {
    margin-bottom: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.simulation-list-title {
    color: #c14120;
    text-decoration: none;
}

.untranslated-sim .simulation-list-title {
    color: #888888;
}

.simulation-link {
    text-decoration: none;
}

a.simulation-link:hover .simulation-list-title {
    text-decoration: underline;
}

.simulation-link img {
    border: none;
    font-size: 2px;
}