/* This one rule is for IndexPage.html */
div.index-holder {
    width: 765px;
    margin: 0 auto;
}

.index-content {
    width: 745px;
    font-size: 14px;
    padding: 10px 0;
}

.old-content {
    text-align: center;
}

#index-animated-screenshot-holder {
    position: absolute;
    width: 325px;
    height: 100%;
    display: inline-block;
    /*border: 1px solid #cccccc;*/
}

#left-index {
    text-align: center;
    float: left;
    width: 350px;
    height: 100%;
    display: table;
}

#left-index[dir="rtl"] {
    float: right;
}

#social-icons {
    position: absolute;
    top: 10px;
    left: 716px;
}

#social-icons[dir="rtl"] {
    left: 2px;
}

#index-animated-screenshot-holder.rtl {
    position: absolute;
    width: 325px;
    height: 100%;
    display: inline-block;
    /*border: 1px solid #cccccc;*/
}

#video-container {
    position: absolute;
    width: 100%;
    height: 213px;
    overflow: hidden;
    cursor: pointer;
}

#video-player {
    position: absolute;
    width: 100%;
}

#controls-container {
    position: absolute;
    top: 213px;
    /*top: 183px;*/
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(204,204,204);
    /*cursor: pointer;*/
}

.left-right-buttons {
    background-color: rgb(140,140,140);
    height: 100%;
    cursor: pointer;
    width: 20px;
}

.left-right-img {
    margin-top: 5px;
}

#right-middle {
    position: absolute;
    width: 425px;
    left: 310px;
}

#index-middle-div {
    height: 248px;
}

#index-header {
    color: #d36a04;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#index-main-text {
    color: #333333;
    margin-right: 10px;
}

#index-play-sims {
    width: 153px;
    height: 38px;
    margin: 5px auto 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    background-image: url('../images/blank-button.gif');
}

#index-play-sims-text {
    vertical-align: middle;
    line-height: 38px;
}

.pws-holder {
    margin: 10px auto 0;
    height: 32px;
}

.pws-table {
    margin: 0 auto;
    height: 32px;
    padding: 0;
}

.pws-table tr {
    margin: 0;
    padding: 0;
}

.pws-table td {
    padding: 0;
}

.pws-middle {
    text-align: center;
    vertical-align: middle;
    height: 32px;
    background-image: url('../images/blank-button-middle.gif');
}

.pws-middle a {
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
}

.pws-left {
    padding: 0;
    width: 6px;
    height: 32px;
    background-image: url('../images/blank-button-left.gif');
}

.pws-right {
    padding: 0;
    width: 6px;
    height: 32px;
    background-image: url('../images/blank-button-right.gif');
}

#sponsors {
    position: absolute;
    height: 70px;
    width: 425px;
    left: 0;
    top: 129px;
}

.sponsor {
    height: 70px;
    width: 25%;
    margin-right: 10px;
    text-align: center;
    font-size: 10px;
}

/*td.sponsor {*/
    /*vertical-align: top;*/
/*}*/

.sponsor a {
    text-decoration: none;
    color: #990000;
    text-align: center;
}

.sponsor img {
    border: none;
}

.langlink {
    text-decoration: none;
    color: #990000;
}

div.practices {
    background: url('../images/practice-background.png') left bottom no-repeat;
    width: 745px;
    margin-bottom: 10px;
    clear: both;
    position: relative;
}

div.practices dl {
    position: relative;
    width: 185px;
    float: left;
    margin-right: 1px;
    background: url('../images/practiceSeperator.gif') right top no-repeat;
}

div.rtl div.practices dl {
    width: 185px;
    float: right;
    margin-right: 0;
    margin-left: 1px;
    background: url('../images/practiceSeperator.gif') left top no-repeat;
}

div.practices dl.last {
    background: none;
    width: 186px;
}

div.practices dl.last dd {
/*text-align: right;*/
}

div.rtl div.practices dl.last dd {
/*text-align: inherit;*/
}

div.practices dl dt {
    height: 32px; /* 32 */
    /*background-color: #59629d;*/
    /*background-color: #4d5585;*/
    background-color: #3f4b9a;
    padding-left: 5px;
    margin-bottom: 1em;
}

div.practices dl.last dt {
    /*background-color: #4a9a3f;*/
    background-color: #43873a;
    /*background-color: #599651;*/
    text-align: center;
}

div.practices dl dt a {
    background: url('../images/white-arrow-right2.png') no-repeat 2px 5px;
    padding-left: 9px;
    font-size: 13px;
    /*font-weight: bold;*/
    color: white;
    text-decoration: none;
    position: relative;
    top: 8px; /* 8 */
}

div.practices dl.last dt a {
/*background: url('../images/white-arrow-right2-green.png') no-repeat 2px 5px;*/
    background: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.rtl div.practices dl dt a {
    background: none;
    padding-left: 0;
    padding-right: 9px;
}

div.practices dl dd {
    margin: 0;
    padding: 0 15px;
    font-size: 12px;
}

div.practices dd a.nolink {
    background: none;
    text-decoration: none;
    color: #000;
    padding: 0;
    line-height: 20px;
}

div.practices dd a:hover.nolink {
    background: none;
    text-decoration: none;
    color: #000;
    padding: 0;
    line-height: 20px;
}

div.practices dd a {
    text-decoration: none;
    color: #000;
    line-height: 20px;
}

div.practices dl.last dd a {
    line-height: inherit; /* for other sponsors text, we need a normal line-height */
    color: #4a9a3f;
    text-decoration: underline !important;
}

div.rtl div.practices dd a {
    background: none;
}

div.practices dd a img {
/* the green circles */
    border: none;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

div.practices dd a:hover {
    text-decoration: none;
    color: #2345a1;
    line-height: 20px;
}

.clear {
    clear: both;
}

.home-about-phet {
    text-align: center;
    position: absolute;
    top: 199px;
    height: 23px;
    left: 0;
    width: 425px;
    font-size: 12px;
}

.home-about-phet a {
    text-decoration: none;
}

.home-about-phet a:hover {
    text-decoration: underline;
}

.index-social-image {
    vertical-align: middle;
    border: none;
}

.play-with-sims-button {
  -moz-box-shadow:
    0 1px 0 rgba(0,0,0,.08),inset -2px 2px 3px rgba(255,255,255,.67),inset 2px -2px 2px rgba(0,0,0,.2);
  -webkit-box-shadow:
    0 1px 0 rgba(0,0,0,.08),inset -2px 2px 3px rgba(255,255,255,.67),inset 2px -2px 2px rgba(0,0,0,.2);
  box-shadow:
    0 1px 0 rgba(0,0,0,.08),inset -2px 2px 3px rgba(255,255,255,.67),inset 2px -2px 2px rgba(0,0,0,.2);
  background: rgb(106,206,245);

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: arial;
  font-size:20px;
  width: 150px;
  padding: 12px;
  text-decoration: none;
}
.play-with-sims-button:hover {
  background: rgb(156,206,245);
  text-decoration: underline;
}

.play-with-sims-button:active {
  position: relative;
  top: 1px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-link {
  border-left: 2px solid;
  border-color: grey;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 4px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}

.first-footer-link {
  border-left: none;
  padding-left: 0;
}

.footer-icon {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  border: none;
}

.pdf-icon::after {
    content: url("/images/pdficon_small.png");
}
