/* Copyright 2002-2013, University of Colorado */

.html-page {
    width: 765px;
    margin: 0 auto;
}

.html-breadcrumbs {
    margin: 15px 0;
}

.html-right-panel {
    margin-top: 10px;
    width: 224px;
    float: right;
    text-align: center;
}

.html-video-container {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: black;
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.html-video-thumbnail {
    opacity: 0.8;
    border: 2px solid black;
}

.html-video-play-button {
    position: absolute;
    width: 70px;
    height: 50px;
    background-color: black;
    top: 37px;
    left: 77px;
    border-radius: 15px;
    opacity: 0.7;
}

.html-video-play-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 24px solid white;
    top: 13px;
    left: 25px;
}

.html-video-container:hover .html-video-play-button {
    background-color: #c00;
}

.html-text-our-new-html5-sims {
    display: block;
    color: black;
    font-size: 18px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-top: none;
    /*background-color: #6acef5;*/
}

.html-why-html5 {
    font-size: 18px;
}