/* Copyright 2002-2013, University of Colorado */

/* Contains CSS for the HTML5 banner */

.html-banner-container {
    display: block;
    /*background-color: #ff9933;*/
  background-color: rgb(146,159,204);
    border-top: 1px solid white;
    margin-bottom: 10px;
    position: relative;
    height: 50px;
    width: 100%;
    text-decoration: none;
}

#html-banner-content {
    width: 765px;
    display: block;
    position: relative;
    height: 50px;
    margin: 0 auto;
}

.html-banner-container:hover {
    opacity: 1;
}

.html-banner-container .html-banner-image {
    position: absolute;
    top: 14px;
    border: none;
    height: 40px;
    right: 14px;
}

/*#html-banner-link {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*height: 50px;  *//* height and width needed so tabbing over works in safari */
    /*width: 40px;*/
/*}*/

.html-banner-container .html-banner-html {
    position: absolute;
    color: black;
    top: 0;
    line-height: 14px;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    width: 36px;
    text-align: center;
    background-color: white;
    font-stretch: expanded;
    right: 16px;
}

.html-banner-image[dir="rtl"] {
    right: inherit;
    left: 18px;
}

.html-banner-html[dir="rtl"] {
    right: inherit;
    left: 20px;
}

#html-banner-link[dir="rtl"] {
    right: inherit;
    left: 0;
}

div.rtl .html-banner-container .html-banner-image {
    left: -380px !important;
}

div.rtl .html-banner-container .html-banner-html {
    left: -375px !important;
}


#html-sims-link {
    display: block;
}

.html-banner-container .html-banner-crowdfundText {
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 50px;
    cursor: default;
    position: relative;
    float: left;
    left: -2px;
}

.html-banner-container .html-banner-crowdfundText[dir="rtl"] {
    float: right;
}

.html-banner-container .html-banner-simsText {
  display: block;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  right: 70px;
  float: right;
  background-color: rgb(230,230,230);
  top: 12px;
}

.html-banner-simsText[dir="rtl"] {
  right: inherit;
  left: 75px;
  float: left;
}

.html-banner-container .html-banner-simsText:hover {
  background: rgb(245,245,245);
}

.html-banner-container .html-banner-button {
    background: rgb(244,233,23);
    float: left;
    margin-left: 15px;
    margin-right: 2px;
    top: 12px;
}

.html-banner-button[dir="rtl"] {
    margin-left: 2px;
    margin-right: 15px;
    float: right;
}

.html-banner-container .html-banner-button:hover {
    background: rgb(249,244,147);
}

.html-banner-container .html-banner-button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}