/* Copyright 2002-2013, University of Colorado */

/* Contains CSS for the HTML5 banner */

.html-banner-container {
    display: block;
    background-color: #ff9933;
    border-top: 1px solid white;
    margin-bottom: 10px;
    position: relative;
    height: 50px;
    width: 100%;
    text-decoration: none;
}

#html-banner-content {
    width: 765px;
    display: block;
    position: relative;
    height: 50px;
    margin: 0 auto;
}

.html-banner-container:hover {
    opacity: 1;
}

.html-banner-container .html-banner-simsText {
    display: block;
    position: absolute;
    width: 150px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    text-decoration: underline;
    right: 50px;
}

.html-banner-container .html-banner-image {
    position: absolute;
    top: 14px;
    border: none;
    height: 40px;
    right: 14px;
}

.html-banner-container .html-banner-html {
    position: absolute;
    color: black;
    top: 0;
    line-height: 14px;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    width: 36px;
    text-align: center;
    background-color: white;
    font-stretch: expanded;
    right: 16px;
}

.html-banner-simsText[dir="rtl"] {
    right: inherit;
    left: 60px;
}

.html-banner-image[dir="rtl"] {
    right: inherit;
    left: 18px;
}

.html-banner-html[dir="rtl"] {
    right: inherit;
    left: 20px;
}

div.rtl .html-banner-container .html-banner-image {
    left: -380px !important;
}

div.rtl .html-banner-container .html-banner-html {
    left: -375px !important;
}


#html-sims-link {
    display: block;
}

.html-banner-container .html-banner-crowdfundText {
    text-align: center;
    color: white;
    font-size: 17px;
    line-height: 50px;
    cursor: default;
    position: relative;
    float: left;
    left: -2px;
}

.html-banner-container .html-banner-crowdfundText[dir="rtl"] {
    float: right;
}

.html-banner-container .html-banner-button {
    display: inline-block;
    position: relative;
    width: 170px;
    height: 25px;
    color: black;
    border: 1px solid rgba(0,0,0,0.25);
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,.08),inset -2px 2px 3px rgba(255,255,255,.67),inset 2px -2px 2px rgba(0,0,0,.2);
    background: rgb(246,238,75);
    top: 12px;
    float: left;
    margin-left: 15px;
    margin-right: 2px;
}

.html-banner-button[dir="rtl"] {
    margin-left: 2px;
    margin-right: 15px;
    float: right;
}

.html-banner-container .html-banner-button:hover {
    background: rgb(249,244,147);
}

.html-banner-container .html-banner-button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}