.html-licensing-panel .section {
    padding-top: 1.167em;
}

.html-licensing-panel .bold {
    font-weight: bold;
}

.html-licensing-panel .ignore {
    margin-bottom: 0;
}

.html-licensing-panel .center {
    text-align: center;
}

.html-licensing-panel .slant {
    font-style: italic;
}

.html-licensing-panel .top-paragraph {
    margin-top: 0.5em;
}

.html-licensing-panel h1 {
    font-size: 1.5em;
}

.html-licensing-panel h2 {
    color: rgb(50, 152, 166);
    font-size: 1.333em;
}

.html-licensing-panel h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1.667em;
    margin-bottom: 0;
}
