body {
    padding: 0;
    margin: 0;
    font-family: "arial", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#page-header {
    background-color: #2a326a;
    height: 127px;
}

#offline-installer-body #page-header {
    background: url('../images/header_BG.gif') left top repeat-x;
}

/* Place the "50 million sims delivered" or whatnot message in the top of the logo */
#page-header-sims-served {
    position: absolute;
    left: 250px;
    top: 26px;
    font-size: 13px;
    color: #fff;
    font-style: italic;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

div.rtl #page-header-sims-served {
    left: auto !important;
    right: 250px !important;
}

div.rtl #page-header-logo {
    left: auto !important;
    right: 0 !important;
}

.header-logo-image {
    position: relative;
    top: 8px;
    /*color: white;*/
    display: inline-block;
}

.white-focus:focus {
    outline: none;
    border: 1px solid white;
    margin: -1px;
    -webkit-box-shadow: 0px 0px 4px 0px white;
    box-shadow: 0px 0px 4px 0px white;
}

.sign-in-links:focus {
    outline: none;
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 4px 0px white;
    box-shadow: 0px 0px 4px 0px white;
}

#search-submit {
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 0 2px 2px 0;
    padding: 3px;
    top: 0;
    position: absolute;
    left: 202px;
    margin: 0;
}

/*#search-submit:focus {*/
  /*border: 1px solid white;*/
  /*margin: -1px;*/
/*}*/

.search-focus {
    border: 2px solid #2a326a;
    border-radius: 4px;
}

.search-focus:focus {
    outline: none;
    border: 3px solid orange;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 12px 0px orange;
    box-shadow: 0px 0px 12px 0px orange;
}

#page-header-search {
    position: absolute;
    left: 250px;
    bottom: 7px;
    text-align: right;
    vertical-align: bottom;
    color: white;
}

div.rtl #page-header-search {
    left: auto !important;
    right: 250px !important;
}

#page-header-search a {
    /* for the current version link */
    color: white;
}

#page-header-search form {
    padding: 0;
    margin: 0;
}

#page-header-cu {
    position: absolute;
    right: -56px;
    top: 44px;
    border: none;
}

div.rtl #page-header-cu {
    right: auto !important;
    left: 23px !important;
}

#page-header-logo img {
    border: 0;
}

#page-header-container {
    height: 127px;
    margin: 0 auto;
    width: 765px; /* width: 820px; */
    position: relative;
}

#page-content {
}

.log-in-out {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    color: white;
    padding: 0.5em;
}

body.rtl .log-in-out {
    text-align: left;
    right: auto;
    left: 0;
}

.log-in-out a {
    color: white;
}

#main-content {
    position: relative;
}

div.ltr #main-content {
    margin-right: 55px;
}

div.rtl #main-content {
    margin-left: 55px;
}

#main-content a {
    text-decoration: none;
}

#main-content a:hover {
    text-decoration: underline;
}

#main-content .simulation-list-item a:hover {
    text-decoration: none;
}

#main-content .breadcrumbs a:hover {
    text-decoration: none;
}

.standard-content h2 {
    font-size: 16px;
    color: #15337f;
}

.strike {
    text-decoration: line-through;
}

.float-classic-left {
    float: left;
}

div.rtl .flat-classic-left {
    float: right;
}

.float-classic-right {
    float: right;
}

div.rtl .flat-classic-right {
    float: left;
}

.clear-classic {
    clear: right;
}

div.rtl .clear-classic {
    clear: left;
}

.text-left-classic {
    text-align: left;
}

div.rtl .text-left-classic {
    text-align: right;
}

.text-right-classic {
    text-align: right;
}

div.rtl .text-right-classic {
    text-align: left;
}

.noborder {
    border: none;
}

.loginout-list {
    padding: 0;
    margin: 0;
}

.loginout-list li {
    display: inline;
    list-style-type: none;
}

.loginout-spacer {
    padding-right: 5px;
    padding-left: 5px;
}

.donate-box1 {
    float: right;
}

.donate-box1 a {
    /*text-decoration: none;*/
    /*color: black;*/
}

.donate-box2 {
    text-align: right;
}

.list-highlight-background {
    background-color: #eeeeee;
}

/*#skipNav {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*font-size: 1px;*/
    /*letter-spacing: -1px;*/
/*}*/

/* see http://stackoverflow.com/questions/6280399/skip-links-not-working-in-chrome */
#skipNav a {
    position: absolute;
    top: -40px;
    left: 0;
    background:transparent;
    -webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100
}
#skipNav a:focus {
    position:absolute;
    left: 0;
    top: 0;
    background: #F1B82D;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear
}

div.copyright {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.feedback-errors span {
    color: red;
}

.translation-credits {
    font-size: 11px;
    background-color: #e2e2e2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
}

.search-box {
  /*background-color: white;*/
  /*border-radius: 2px 0 0 2px;*/
  /*box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
}

/* from jquery.autocomplete.css */

.acInput {
    width: 200px;
    height: 21px;
    border: none;
    border-radius: 2px 0 0 2px;
}

.acResults {
    padding: 0;
    border: 1px solid #666;
    background-color: #fff;
    overflow: hidden;
    z-index: 1000;
}

.acResults ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.acResults li {
    margin: 0;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 11px;
    overflow: hidden;
}

.acLoading {
    background-image: url('../images/icons/indicator.gif');
    background-position: right center;
    background-repeat: no-repeat;
}

.acSelect {
    background-color: #ffc;
    color: #000;
}

/* make lines in pre blocks wrap if necessary */
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.full-width-center {
    width: 745px;
    margin: 0 auto;
}

.tech-award-page-link {
    text-decoration: none;
    color: #000;
}

.teacher-ideas {
    width: 650px;
}

.workshops {
    width: 650px;
}

.phet-button {
  text-transform: uppercase;
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  padding: 0 10px;
  height: 25px;
  text-decoration: none !important;
  color: rgb(50, 50, 50);
}

.sign-in-button {
  background: rgb(230,230,230);
  color: black !important;
}

.sign-in-button:hover {
  background: rgb(245,245,245);
}

.register-button {
  background: rgb(109,200,241);
}

.register-button:hover {
  background: rgb(129,220,251);
}

.loginout-list a {
  text-decoration: none;
  font-weight: bold;
}

.loginout-list a:hover {
  text-decoration: underline;
}