.simulation-main-title {
    color: #990000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 5px;
    min-height: 20px;
}

.simulation-main-image-panel {
    float: left;
    margin-right: 20px;
    width: 300px;
}

div.rtl .simulation-main-image-panel {
    margin-right: 0;
    margin-left: 20px;
}

.simulation-main-link-run-main {
    text-decoration: none;
}

.simulation-main-screenshot {
    border: none;
    -webkit-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
}

.simulation-main-translation-list {
    font-size: 12px;
}

.simulation-main-table {
    padding-bottom: 12px;
}

.simulation-main-content {
    border-top: 2px solid #c60;
    width: 595px;
}

.sim-page-content {
    width: 450px;
}

.simulation-main-description {
    vertical-align: top;
    padding: 0;
    width: 100%;
}

.simulation-main-support-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sim-clear {
    clear: left;
    border: 1px solid red;
    height: 20px;
}

.simulation-main-container h2 {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin: 7px 2px;
}

.simulation-main-container h3 {
    color: #00A6D3;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.simulation-panel-indent {
    padding-left: 25px;
}

.sim-version {
    padding-left: 20px;
    color: rgb(150,150,150);
}

.sim-button {
    /*text-transform: uppercase;*/
    /*font-variant: small-caps;*/
    /*font-weight: bold;*/
    /*text-decoration: none !important;*/
    color: white;
    /*padding: 5px 10px;*/
    margin-top: 12px;
    background-color: rgb(110,110,110);
    /*border-radius: 3px;*/
    /*height: 16px;*/
    /*line-height: 16px;*/
    /*font-size: 0.9em;*/
}

.sim-button:hover {
    background-color: rgb(170,170,170);
}

.sim-download {
    float: left;
}

.sim-embed {
    float: right;
}

.simStyleOrange {
    background-color: rgb(253,131,54);
    color: black;
}

.simStyleOrange:hover {
    background-color: rgb(253,164,108);
}

.keyword-list-holder {
    list-style-type: none;
    margin: 0 20px;
    padding: 0;
}

.teachers-tips-holder {
    padding: 0.25em 0;
}

.keyword {
    display: inline;
    margin: 0;
    padding: 0 5px 0 0;
}

/* TODO: Clean up this table CSS */
table.system-requirements-table {
    margin: 5px 0 5px;
    position: relative;
    left: 5px;
    width: 505px;
}

table.system-requirements-table th {
    text-align: left;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 3px;
}

table.system-requirements-table td {
    vertical-align: top;
    padding-right: 15px;
}

table.credits-table {
    margin: 5px 0 15px;
    position: relative;
    left: 5px;
    width: 505px;
}

table.credits-table th {
    text-align: left;
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 3px;
}

table.credits-table td {
    vertical-align: top;
    padding-right: 15px;
}

table.credits-table ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

#translations-table-header {
  display: block;
  width: 100%;
  background-color: #0071bc;
  height: 25px;
  line-height: 25px;
  color: white;
  padding: 5px 0;
}

#translations-table-language-header {
  display: inline-block;
  width: 200px;
  padding-left: 10px;
}

.translations-table tr {
  border-bottom: solid thin #0071bc;
}

table.simulation-main-translations-table {
    margin: 5px 10px 15px;
    width: 505px;
}

div.rtl table.translations-table, div.rtl table.credits-table, div.rtl table.system-requirements-table {
    left: auto;
    right: 5px;
}

div.rtl table.translations-table th, div.rtl table.credits-table th, div.rtl table.system-requirements-table th {
    text-align: right;
}

.untranslated-sim-text {
    color: red;
}

.simulation-main-container {
    position: relative;
}

div.rating-holder {
    text-align: right;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

div.rtl div.rating-holder {
    text-align: left;
    right: auto;
    left: 0;
}

.other-sim-page {
    background-color: rgb(235,235,235);
    display: block;
    padding: 5px;
    margin-top: 4px;
    width: 180px;
    cursor: pointer;
    position: absolute;
    right: -70px;
    z-index: 2;
}

.other-sim-link {
    padding-left: 5px;
    display: block;
    font-size: 1.1667em;
    line-height: 1.333em;
}

body#offline-installer-body .sim-download {
    visibility: hidden;
}

.triangle-down {
    background-image: url(../images/icons/triangle-down.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    color: black;
    background-position: 0 2px;
}

.triangle-right {
    background-image: url(../images/icons/triangle-right.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    color: rgb(110,110,110);
}

#play-sim-icon {
    position: absolute;
    left: 100px;
    top: 49px;
}

.sim-page-badge {
    display: block;
    position: absolute;
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
    left: 278px;
    bottom: -5px;
}

.java-badge{
    background-image: url(../images/icons/sim-badges/java-badge.png);
}

.flash-badge{
    background-image: url(../images/icons/sim-badges/flash-badge.png);
}

.html-badge {
    background-image: url(../images/icons/sim-badges/html5-badge.png);
}

.teachers-video-player {
    display: block;
    margin: 1em 0 2em;
    width: 425px;
    height: 239px;
    left: 25px;
    position: relative;
}

.teachers-video-blocker {
  position: relative;
}

.teachers-video-blocker:after {
  content: '';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:1;
  background: rgba(100, 100, 100, 0.5) url(../images/icons/lock.png) no-repeat center;
}

.download-icon {
    margin-right: 10px;
    float: left;
    height: 1.25em;
    margin-top: 5px;
}

.click-area-expand {
  padding-left: 20px;
  display: inline-block;
  position: relative;
  left: -20px;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  text-decoration: none !important;
}